{% extends 'base.html' %}


{% block content %}
    <div class="post">
        <p class="post-date">published: {{ post.published_date }}</p>
        <!--여기는 post의 published_date-->
        <h2 class="post-title"><a href="{% url 'post-detail' pk=post.pk %}">{{post.title}}</a></h2>
        <p class="post-content">{{post.content|linebreaksbr}}</p>
        <!--{% for post in posts %} post는 posts안에 있을때 마지막 post까지 반복-->
        <!--{% endfor %} for문 종료-->
    </div>
<form action="{% url 'post-delete' pk=post.pk %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">삭제하기</button>
</form>
{% endblock %}