{% extends 'base.html' %}


{% block content %}
    {% for post in posts %}
    <div class="post">
        <p class="post-date">published: {{ post.published_date }}</p>
        <!--여기는 post의 published_date-->
        <h2 class="post-title"><a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p class="post-conten full">{{ post.content|linebreaksbr|truncatewords:5 }}</p>
        <!--{% for post in posts %} post는 posts안에 있을때 마지막 post까지 반복-->
        <!--{% endfor %} for문 종료-->
    </div>
    {% endfor %}
{% endblock %}