{%load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DjangoGirls Tutorial</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/blog.css' %}">
</head>
<body>
    <div class="header">
        <div class="container">
            <h1><a href="{% url 'post-list' %}">Django Girls Blog</a></h1>
        </div>
    </div>
    <div class="container">
        <div class="post">
            <p class="post-date">published: {{ post.published_date }}</p>
            <!--여기는 post의 published_date-->
            <h2 class="post-title"><a href="{% url 'post-detail' pk=post.pk %}">{{post.title}}</a></h2>
            <p class="post-content">{{post.content|linebreaksbr}}</p>
            <!--{% for post in posts %} post는 posts안에 있을때 마지막 post까지 반복-->
            <!--{% endfor %} for문 종료-->
        </div>
    </div>
</body>
</html>
